/*----------------------------*/
.main {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.main .intro__tablet {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-top: 10rem;
  margin: 0;
  background-image: linear-gradient(rgb(165, 224, 231) 70%, rgba(255, 255, 255, 0) 30%), url("../img/background-texture.jpg");
}
@media screen and (max-width: 1445px) {
  .main .intro__tablet {
    height: 38vh;
  }
}
@media screen and (max-width: 624px) {
  .main .intro__tablet {
    margin-top: 35vh;
    height: 2vh;
    flex-direction: column;
    background-image: linear-gradient(rgb(165, 224, 231) 50%, rgba(255, 255, 255, 0) 50%), url("../img/background-texture.jpg");
  }
}
@media screen and (max-width: 480px) {
  .main .intro__tablet {
    margin-top: 25vh;
    height: 2vh;
    flex-direction: column;
    background-image: linear-gradient(rgb(165, 224, 231) 50%, rgba(255, 255, 255, 0) 50%), url("../img/background-texture.jpg");
  }
}
.main .carousel-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10% 0 0 0;
  margin: 0;
}
@media screen and (max-width: 1445px) {
  .main .carousel-container {
    width: 100%;
    height: 50vw;
    padding: 5% 0 5% 0;
  }
}
@media screen and (max-width: 980px) {
  .main .carousel-container {
    padding: 10% 0 10% 0;
  }
}
@media screen and (max-width: 624px) {
  .main .carousel-container {
    height: 50em;
    align-content: center;
    width: 100%;
    padding: 0 0 73% 0;
  }
}
.main .carousel-container .carousel {
  display: flex;
  width: 300%;
  transition: transform 0.5s ease-in-out;
}
.main .carousel-container .carousel .intro {
  width: 100%;
}
.main .carousel-container .carousel .product {
  width: 100%;
  padding: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: none;
}
.main .carousel-container .carousel .product .product__image {
  width: 17%;
}
@media screen and (max-width: 1445px) {
  .main .carousel-container .carousel .product .product__image {
    width: 20%;
  }
}
@media screen and (max-width: 980px) {
  .main .carousel-container .carousel .product .product__image {
    width: 23%;
  }
}
@media screen and (max-width: 624px) {
  .main .carousel-container .carousel .product .product__image {
    width: 16%;
  }
}
.main .carousel-container .carousel .product .product__details {
  width: 40%;
}
@media screen and (max-width: 624px) {
  .main .carousel-container .carousel .product .product__details {
    width: 30%;
  }
}
.main .carousel-container .carousel .product .product__details .product__title-01 {
  color: #333;
  margin: 0 auto;
  padding-bottom: 2%;
  font-size: clamp(2rem, 6vw, 8rem);
  font-family: "Gugi", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media screen and (max-width: 624px) {
  .main .carousel-container .carousel .product .product__details .product__title-01 {
    text-align: center;
  }
}
.main .carousel-container .carousel .product .product__details .product__title-02, .main .carousel-container .carousel .product .product__details .product__title-04, .main .carousel-container .carousel .product .product__details .product__title-03 {
  color: #FC5972;
  margin: 0 auto;
  font-size: clamp(2rem, 4vw, 6rem);
  font-family: "Galindo", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 90%;
}
@media screen and (max-width: 624px) {
  .main .carousel-container .carousel .product .product__details .product__title-02, .main .carousel-container .carousel .product .product__details .product__title-04, .main .carousel-container .carousel .product .product__details .product__title-03 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}
.main .carousel-container .carousel .product .product__details .product__title-03 {
  color: #ffa526;
}
.main .carousel-container .carousel .product .product__details .product__title-04 {
  color: #65a512;
}
.main .carousel-container .carousel .product .product__details .product__description {
  width: 60%;
  color: #333;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
}
@media screen and (max-width: 1445px) {
  .main .carousel-container .carousel .product .product__details .product__description {
    width: 90%;
  }
}
@media screen and (max-width: 624px) {
  .main .carousel-container .carousel .product .product__details .product__description {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    color: rgb(92, 38, 7);
  }
}
@media screen and (max-width: 480px) {
  .main .carousel-container .carousel .product .product__details .product__description {
    font-size: 1.3rem;
    text-align: center;
  }
}
.main .carousel-container .carousel .product .product__fruto {
  width: 80%;
}
@media screen and (max-width: 1445px) {
  .main .carousel-container .carousel .product .product__fruto {
    width: 60%;
    padding-left: 20%;
  }
}
.main .carousel-container .prev, .main .carousel-container .next {
  position: absolute;
  font-size: 2rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  z-index: 999;
}
.main .carousel-container .prev:hover, .main .carousel-container .next:hover {
  background-color: rgba(255, 123, 240, 0.7);
}
.main .carousel-container .prev {
  left: 5%;
}
.main .carousel-container .next {
  right: 5%;
}/*# sourceMappingURL=product.css.map */