@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Galindo&family=Josefin+Sans&display=swap");
/*----------------------------*/
/*----------------------------*/
body {
  font-family: "Arial", sans-serif;
  background-color: #A5E0E7;
  color: #333;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 0 0;
  background-color: #A5E0E7;
}
.header__logo-image {
  max-height: 50px;
  padding-right: 2rem;
}
.header__nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__nav-list .header__nav-item {
  margin: 0 15px;
}
.header__nav-list .header__nav-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Galindo", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.header__nav-list .header__nav-link:hover {
  color: #333;
}

.main .intro {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-top: 10rem;
  margin: 0;
  background-image: linear-gradient(rgb(165, 224, 231) 70%, rgba(255, 255, 255, 0) 30%), url("../img/background-texture.jpg");
}
@media screen and (max-width: 1445px) {
  .main .intro {
    height: 38vh;
  }
}
@media screen and (max-width: 624px) {
  .main .intro {
    margin-top: 20vh;
    height: 2vh;
    flex-direction: column;
    background-image: linear-gradient(rgba(165, 224, 231, 0) 40%, rgba(255, 255, 255, 0) 60%), url("../img/background-texture.jpg");
  }
}
@media screen and (max-width: 480px) {
  .main .intro {
    margin-top: 18vh;
    height: 2vh;
    flex-direction: column;
    background-image: linear-gradient(rgba(165, 224, 231, 0) 50%, rgba(255, 255, 255, 0) 50%), url("../img/background-texture.jpg");
  }
}
.main .intro .intro__title {
  font-size: clamp(2rem, 6vw, 8rem);
  font-family: "Galindo", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 80%;
  width: 45%;
  color: #ffffff;
  margin-right: 2rem;
  padding-bottom: 7%;
  padding-left: 3%;
}
@media screen and (max-width: 624px) {
  .main .intro .intro__title {
    padding-bottom: 0;
    font-size: 4rem;
    width: 100%;
  }
}
.main .intro .intro__juice-img {
  position: relative;
  width: 32%;
  margin: 0 1rem;
  z-index: 2;
}
@media screen and (max-width: 624px) {
  .main .intro .intro__juice-img {
    width: 70%;
  }
}
.main .intro .intro__destello {
  position: absolute;
  margin-bottom: 18%;
  left: 6%;
  width: 40%;
  z-index: 1;
}
@media screen and (max-width: 624px) {
  .main .intro .intro__destello {
    width: 70%;
    margin-bottom: 80%;
    left: 13%;
  }
}
@media screen and (max-width: 480px) {
  .main .intro .intro__destello {
    width: 70%;
    margin-bottom: 110%;
    left: 14%;
  }
}
.main .healthy {
  display: flex;
  text-align: center;
  justify-content: left;
  flex-wrap: wrap;
  padding: 2rem;
  background-image: url("../img/background-texture.jpg");
  color: #333;
}
.main .healthy .healthy__title {
  font-size: 12rem;
  margin: 0;
  text-align: center;
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
}
@media screen and (max-width: 1445px) {
  .main .healthy .healthy__title {
    font-size: 9rem;
  }
}
.main .healthy .healthy__description {
  margin: 1rem 0;
  width: 100%;
  font-size: 2rem;
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@media screen and (max-width: 1445px) {
  .main .healthy .healthy__description {
    margin: 2rem 0;
  }
}
.main .healthy .healthy__link {
  display: inline-block;
  width: 15%;
  text-align: center;
  border-radius: 120px;
  padding: 1rem 2rem;
  background-color: #F4AA1C;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}
.main .healthy .healthy__link:hover {
  background-color: #e6e6e6;
}
.main .healthy .healthy__modular {
  width: 50%;
  align-content: center;
}
.main .healthy .healthy__foto {
  width: 45%;
  height: auto;
}
@media screen and (max-width: 1445px) {
  .main .healthy .healthy__foto {
    padding-top: 15%;
    width: 50%;
    height: 100%;
  }
}

.footer {
  width: 100%;
  background-color: #F3F1E2;
  color: #38894F;
  text-align: center;
  padding: 1rem;
}
.footer__menus {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.footer .footer__contact {
  margin: 1em 3em;
  text-align: left;
}
.footer .footer__contact h3 {
  color: #333;
}
.footer .footer__contact ul {
  list-style: none;
  padding: 0;
}
.footer .footer__contact li {
  margin-bottom: 15px;
}
.footer .footer__contact li a {
  color: #38894F;
  text-decoration: none;
}
.footer .footer__contact li a:hover {
  text-decoration: underline;
}
.footer__copyright {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 20px;
}/*# sourceMappingURL=styles.css.map */