$primary-color: #A5E0E7;
$secondary-color: #ffffff;
$text-color: #333;
$background-image: url("../img/background-texture.jpg") ;
$font-stack: 'Arial', sans-serif;

body {
    font-family: $font-stack;
    background-color: $primary-color;
    color: $text-color;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: $primary-color;

    &__logo-image {
        max-height: 50px;
    }

    &__nav-list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        &__nav-item {
            margin-left: 1rem;
        }

        &__nav-link {
            text-decoration: none;
            color: $text-color;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}


.main {
    .intro {
        display: flex; 
        align-items: center; 
        justify-content: center;
        padding: 2rem;
        background-image: linear-gradient(rgba(165, 224, 231) 70%, rgba(255, 255, 255, 0) 30%), url("../img/background-texture.jpg");
        
        &__title {
            font-size: 4rem;
            width: 40%;
            color: $secondary-color;
            margin-right: 2rem; 
        }

        .intro__juice-img {
            width: 35%;
            margin: 0 1rem;
        }
    }



    .healthy {
        text-align: center;
        padding: 2rem;
        background-image: $background-image;
        color: $text-color;

        &__title {
            font-size: 1.5rem;
        }

        &__description {
            margin: 1rem 0;
        }

        &__link {
            display: inline-block;
            padding: 0.5rem 1rem;
            background-color: $secondary-color;
            color: $secondary-color;
            text-decoration: none;

            &:hover {
                background-color: darken($secondary-color, 10%);
            }
        }
    }
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: $secondary-color;
    color: $primary-color;

    &__contact {
        margin-top: 1rem;

        &__contact-item {
            margin: 0;
        }
    }
}
